/****************************
Global CSS 
****************************/

*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
ul{

}

/****************************
Header Section CSS
****************************/

header{
	width: 100%;
	position: absolute;
	padding: 30px 0;
	/*background-color: transparent;*/
}



.nav-link{
	font-family: 'Bebas Neue', cursive;
	font-size: 20px;
	color: #3d2514 !important;
	font-weight: 400;
	letter-spacing: 2px;
	padding: 0 !important;
	/*bike er pasher space ta align 
	korar jonno padding 0 korlam ,cause 
	bootstrap e by default kichu space niye thake */
}
.nav-item{
	margin-left: 20px;
}

.contact-header span{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color:#3d2514 ;
	font-weight: 600;

}

/****************************
Banner Section CSS
****************************/

#banner{
	width: 100%;
	height: 100vh;
	/*vh means viewheight. upore niche
	jototuku screen e thakbe tototuku dekha jabe.
	banner section e usually use hoy*/
	background-image: url(../images/bannerbg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
}
.height-100{
	height: 100vh;
}
.h-subtitle{
	border: 2px dashed #3d2514;
	color: #3d2514;
	padding: 6px 12px;
	font-family: 'Bebas Neue', cursive;
	font-size: 24px;
	display: inline-block;
	/*p block howar karone left-right puro space
	tuku niye nichhe.so inline kore nilam 
	tahole jotokutu likha ache thick tototuku
	space nibe */
}
.h-title{
	font-family: 'Alfa Slab One', cursive;
	font-size: 114px;
	text-transform: uppercase;
	color: #3d2514;
	text-shadow: 4px 4px rgba(255, 255, 255, 0.5);
}
.h2-title{
	font-family: 'Alfa Slab One', cursive;
	font-size: 56px;
	text-transform: uppercase;
	color: #3d2514;
	text-shadow: 2px 2px rgba(255, 255, 255, 0.7);
	letter-spacing: 1px;
}
#f-burger{
	width: 100%;
	padding: 80px 0 ;

}
.b-item{
	position: relative;
}
.item-content{
	position: absolute;
	top: 20px;
	left: 30px;
}
.item-content h3{
	font-family: 'Bebas Neue', cursive;
	font-size: 22px;
	color: white;
	text-transform: uppercase;
	margin: 0;
}

.item-content h2{
	font-family: 'Bebas Neue', cursive;
	font-size: 42px;
	color: white;
	text-transform: uppercase;

}
.b-space{
	margin-bottom: 33px;
}

/****************************
Choose Section CSS
****************************/

.choose-text p{
	font-family: "Bebas Neue", cursive;
    color: #3d2514;
    background: #ffc045;
    display: inline-block;
    padding: 5px 25px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.choose-text h2{
	font-family: "Alfa Slab One", cursive;
    color: #3d2514;
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.choose-text span{
	font-family: "Montserrat", sans-serif;
    color: #3d2514;
    font-size: 16.67px;
    font-weight: 400;
}
.c-burger img{
	width: 491px;
    height: 320px;
    padding-bottom: 10px;
}
.c-burger h2{
	font-family: "Bebas Neue", cursive;
    font-size: 37.5px;
    font-weight: bold;
    text-transform: uppercase;
    color: #3d2514;
}
.c-burger p{
	font-family: "Montserrat", sans-serif;
    font-size: 16.67px;
    font-weight: 400;
    color: #3d2514;
    padding-bottom: 14px;
}
.c-burger button{
	font-family: "Alfa Slab One", cursive;
    font-size: 16.67px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #d83232;
    padding: 10px 25px;
    transition: 0.5s;
    border: none;
    border-radius: 6px;
}

/****************************
Event Section CSS
****************************/
#event{
	width: 100%;
	padding: 80px 0;

}
.boxShadow{
	box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
	padding: 20px;
}
.event-box h4{
	color: #3d3d3d;
	font-size: 24px;
	font-family: 'Bebas Neue', cursive;
	text-transform: uppercase;
	margin: 0;
}
.event-box h2{
	font-family: 'Alfa Slab One', cursive;
	font-size: 36px;
	text-transform: uppercase;
	color: #3d3d3d;
}
.event-box p{
	font-family: 'Montserrat', sans-serif;
	color: #3d3d3d;
	font-size: 16px;

}
.owl-nav{
	display: none;
}
.owl-dots{
	position: absolute;
	bottom: 20px;
	left: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ffc107;
}

/****************************
table Section CSS
****************************/
#table{
	width: 100%;
    height: 100vh;
    padding: 120px 0;
    background-image: url(../images/burger08.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}
.t-title h4{
	font-family: "Bebas Neue", cursive;
    font-size: 29.17px;
    font-weight: bold;
    color: #3d2514;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.t-title h2{
	font-family: "Alfa Slab One", cursive;
    font-size: 50px;
    font-weight: 400;
    color: #3d2514;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.text-center{
	text-align: center!important;
}
.t-form .left {
    width: 32%;
    margin-right: 12px;
    padding-left: 10px;
}
.t-form .right {
    width: 32%;
    margin-left: 12px;
    padding-left: 10px;
}
.t-form{
    padding: 10px 10px;
    color: #3d3d3d;
    font-family: "Bebas Neue", cursive;
    font-size: 20.83px;
    font-weight: 400;
    margin: 18px;
}
.t-form .btn{
    font-family: "Alfa Slab One", cursive;
    font-weight: 400;
    color: #ffffff;
    background-color: #d83232;
    transition: 0.5s;
}

/****************************
footer Section CSS
****************************/
#footer{
	width: 100%;
	height: 100vh;
	/*margin-bottom: 40px;*/
}
.background{
	background-image: url(../images/footer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    padding-top: 85px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 10px;
}

.f-title p{
	font-family: "Montserrat", sans-serif;
    font-size: 16.67px;
    font-weight: 400;
    color: #ffffff;
    padding-top: 40px;
    padding-right: 220px;
}
.f-title h5{
	font-family: "Bebas Neue", cursive;
    font-size: 16.67px;
    font-weight: 400;
    color: #ffffff;
    padding-top: 170px;
}
.location, .mail i{
	color: #ffffff;
    font-size: 20px;
}
.location span{
	font-family: "Bebas Neue", cursive;
    font-size: 20.83px;
    font-weight: 400;
    color: #ffffff;
    padding-left: 12px;
}
.mail span{
	font-family: "Bebas Neue", cursive;
    font-size: 20.83px;
    font-weight: 400;
    color: #ffffff;
    padding-left: 12px;
}
.top{
	margin-top: 160px;
}
.bottom{
	padding-top: 178px;
    text-align: right;
}
.bottom a i{
	width: 30px;
    height: 30px;
    background-color: #fff;
    font-size: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    color: #090809;
    margin-left: 5px;

}